@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {

  --color-lemon-lime-50: oklch(98.94% 0.030 110.98);
  --color-lemon-lime-100: oklch(97.93% 0.061 111.47);
  --color-lemon-lime-200: oklch(95.96% 0.115 112.09);
  --color-lemon-lime-300: oklch(94.44% 0.162 113.25);
  --color-lemon-lime-400: oklch(93.10% 0.194 114.61);
  --color-lemon-lime-500: oklch(92.07% 0.209 115.65);
  --color-lemon-lime-600: oklch(77.81% 0.176 115.58);
  --color-lemon-lime-700: oklch(62.95% 0.141 115.02);
  --color-lemon-lime-800: oklch(47.05% 0.104 114.61);
  --color-lemon-lime-900: oklch(29.92% 0.065 114.67);
  --color-lemon-lime-950: oklch(24.09% 0.051 114.65);



  --color-olive-leaf-50: oklch(98.34% 0.032 126.24);
  --color-olive-leaf-100: oklch(96.75% 0.065 126.35);
  --color-olive-leaf-200: oklch(93.77% 0.127 127.85);
  --color-olive-leaf-300: oklch(91.25% 0.182 129.05);
  --color-olive-leaf-400: oklch(89.11% 0.223 130.76);
  --color-olive-leaf-500: oklch(87.30% 0.246 133.26);
  --color-olive-leaf-600: oklch(73.91% 0.207 132.98);
  --color-olive-leaf-700: oklch(59.82% 0.166 132.75);
  --color-olive-leaf-800: oklch(44.84% 0.123 132.33);
  --color-olive-leaf-900: oklch(28.53% 0.075 130.41);
  --color-olive-leaf-950: oklch(23.05% 0.059 129.13);



  --color-mint-leaf-50: oklch(97.37% 0.020 181.13);
  --color-mint-leaf-100: oklch(95.06% 0.040 180.89);
  --color-mint-leaf-200: oklch(90.35% 0.075 180.10);
  --color-mint-leaf-300: oklch(86.22% 0.107 177.52);
  --color-mint-leaf-400: oklch(82.46% 0.131 175.80);
  --color-mint-leaf-500: oklch(79.48% 0.147 172.97);
  --color-mint-leaf-600: oklch(67.23% 0.123 173.24);
  --color-mint-leaf-700: oklch(54.65% 0.099 173.06);
  --color-mint-leaf-800: oklch(41.05% 0.072 174.72);
  --color-mint-leaf-900: oklch(26.47% 0.044 175.28);
  --color-mint-leaf-950: oklch(21.69% 0.034 175.30);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

}